/* Similar code themes */
button{
  cursor: pointer;
}
.col-20{
  flex-basis: 20%;
}
.col-30{
  flex-basis: 30%;
}
.col-50{
  flex-basis: 50%;
}
.col-60{
  flex-basis: 60%;
}
.col-70{
  flex-basis: 70%;
}
.col-80{
  flex-basis: 80%;
}
.col-90{
  flex-basis: 90%;
}
.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.logo_a{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo_img{
  width: 100%;
}
.img_center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
/* Profile */
body{
  background: #F8fbf8;
  line-height: 1.5;
}

.horizontal_navbar{
  padding-top: 20px;
  height: 65px;
  background:white;
  width: 100%;
}
.notification_a{
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification_img{
  width: 70%;
}
.notification_span{
  display: none;
  padding-left: 10px;
}
.show{
  display: block;
  opacity: 0;
  transform: scaleX(0);
}
.animated{
  animation: appear 0.2s;
}
.message_a{
  display: flex;
  align-items: center;
  justify-content: center;
}
.message_img{
  width: 70%;
}
.menu_a{
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu_img{
  width: 70%;
}

.background{
  max-height: 400px;
  width: 100%;
  overflow: hidden;
}
.change_background{
  display: none;
  opacity: 0;
}
.background:hover{
  filter: blur(5px);
  cursor: pointer;
}
.background:hover+.change_background, .change_background:hover{
  display: block;
  position: absolute;
  left: 45%;
  top: 250px;
  opacity: 1;
}
.background:hover .change_background{
  opacity: 1;
  z-index: 60;
}
.profile_image{
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  box-shadow: 5px 6px 8px 0 #0000065;
  margin-top: -80px;
  margin-left: 10vw;
  z-index: 50;
  overflow: hidden;
}
.change_profile{
  z-index: 80;
}
.change_profile svg{
  width: 50px;
  height: 50px;
  margin-left: -60px;
  margin-top: 60px;
  background: black;
  color: white;
  border-radius: 50%;
}
.change_profile svg:hover{
  background: white;
  color: black;
}
.profile_info{
  margin-left: 10vw;
  margin-top: 20px;
}
.follow_user{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  width: 3vw;
}
.follow_user>button{
  width: 100%;
  height: 30px;
  border: 2.5px solid red;
  margin-top: 20px;
  background: white;
  color: black;
}

.user_general_info *{
  margin-right: 3vw;
  color: grey;
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
  }
}
.search_bar_div{
  flex-grow: 1;
  margin-left: 15vw;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.search_bar_input{
  border-radius: 20px 20px 20px 20px;
  background: #EBECF0;
  height: 30px;
  width: 80%;
  padding-left: 40px;
}
.search_icon{
  position: absolute;
  padding-left: 15px;
  padding-top: 5px;
  left: 0px;
}
.side_info{
  margin-left: 4%;
  margin-right: 1%;
}
.post_1, .post_2{
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 50px;
  background: white;
  border: 0.001px solid grey;
}
.post_info{
  display: flex;
  align-items: center;
}
.post_info>div{
  margin-left: 30px;
  line-height: 0.2;
}
.post_action{
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
.post_action img{
  width: 25px;
  height: 25px;
}
.post_user_icon{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.user_posts{
  flex-grow: 1;
  width: 60%;
}
.post_content img{
  width: 80%;
}

.new_message{
  color: white;
  font-weight: bold;
  font-size: 1rem;
  background: red;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  margin-left: 25px;
  margin-top: 32px;
}
.guess_account{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup{
  margin-right: 10px;
  background: red;
  color: white;
  border-style: none;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 1px 2px grey;
  height: 25px;
  width: 5rem;
}
.login{
  border-style: none;
  box-shadow: 1px 2px grey;
  border-radius: 5px 5px 5px 5px;
  height: 25px;
  width: 5rem;
}
.change_profile_photo, .signup_form, .edit_milestone{
  display: none;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  width: 60%;
  height: 80%;
  background: white;
  z-index: 99;
  border-radius: 10px 10px 10px 10px;
}
.hidden_upload{
  display: none;
}
/* Sign up form */
.email_icon{
  position: absolute;
  width: 25px;
  height: 25px;
  margin-left: 10px;
  margin-top: -33px;
}
.verify_email{
  margin-left: 10%;
  border-radius: 20px 20px 20px 20px;
  padding-left: 30px;
  border-color: red;
  padding-right: 30px;
  background: red;
  color: white;
  cursor: pointer;
}
.rmit_email{
  background:white;
  border-radius: 20px 20px 20px 20px;
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25%;
}
.email_sent{
  display: none;
}
