/* Similar code themes */
button{
  cursor: pointer;
}
.col-15{
  flex-basis: 15%;
}
.col-20{
  flex-basis: 20%;
}
.col-30{
  flex-basis: 30%;
}
.col-50{
  flex-basis: 50%;
}
.col-60{
  flex-basis: 60%;
}
.col-70{
  flex-basis: 70%;
}
.col-80{
  flex-basis: 80%;
}
.col-90{
  flex-basis: 90%;
}
.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.logo_a{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo_img{
  width: 100%;
}
.img_center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
/* Profile */
body{
  background: #F8fbf8;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  font-size:calc(7px + 0.5vw);
}

.horizontal_navbar{
  padding-top: 20px;
  height: 65px;
  background:white;
  width: 100%;
}
.notification_a{
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification_img{
  width: 70%;
}
.notification_span{
  display: none;
  padding-left: 10px;
}
.show{
  display: block;
  opacity: 0;
  transform: scaleX(0);
}
.animated{
  animation: appear 0.2s;
}
.message_a{
  display: flex;
  align-items: center;
  justify-content: center;
}
.message_img{
  width: 70%;
}
.menu_a{
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu_img{
  width: 70%;
}

.background{
  max-height: 400px;
  width: 100%;
  overflow: hidden;
}
.change_background{
  position: absolute;
  left: 45%;
  top: 45%;
  display: none;
  opacity: 0;
  cursor: pointer;
}
.background:hover>img{
  filter: blur(5px);
  cursor: pointer;
}
.background:hover>.change_background{
  display: block;
  opacity: 1;
  z-index: 60;
}
.profile_image{
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  margin-top: -80px;
  margin-left: 10vw;
  z-index: 50;
  overflow: hidden;
}
.change_profile{
  z-index: 80;
}
.change_profile svg{
  width: 50px;
  height: 50px;
  margin-left: -60px;
  margin-top: 60px;
  background: black;
  color: white;
  border-radius: 50%;
}
.change_profile svg:hover{
  background: white;
  color: black;
}
.profile_info{
  margin-left: 9vw;
  margin-top: 20px;
}
.follow_user{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  width: 3vw;
}
.follow_user>button{
  width: 100%;
  height: 30px;
  border: 2.5px solid red;
  margin-top: 20px;
  background: white;
  color: black;
}

.user_general_info *{
  margin-right: 3vw;
  color: grey;
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
  }
}
.search_bar_div{
  flex-grow: 1;
  margin-left: 15vw;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.search_bar_input{
  border-radius: 20px 20px 20px 20px;
  background: #EBECF0;
  height: 30px;
  width: 80%;
  padding-left: 40px;
  transition: 0.3s ease-in-out;
}
.search_icon{
  position: absolute;
  padding-left: 15px;
  padding-top: 7px;
  left: 0px;
}
.side_info{
  margin-left: 4%;
  margin-right: 1%;
}
.introduction, .gallery, .friendship{
  height: auto;
  padding-left:10%;
  padding-top:10px;
  padding-bottom: 10px;
  border-radius: 10px 10px 10px 10px;
  background: white;
  margin-bottom: 15px;
  box-shadow: 0 0 15px #ccc;
}
.post_1, .post_2{
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 50px;
  background: white;
  box-shadow: 0 0 15px #ccc;
}
.post_info{
  display: flex;
  align-items: center;
}
.post_info>div{
  margin-left: 30px;
  line-height: 0.2;
}
.post_action{
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
.post_action img{
  width: 25px;
  height: 25px;
}
.post_user_icon{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.user_posts{
  flex-grow: 1;
  width: 60%;
}
.post_content img{
  width: 80%;
}

.new_message{
  color: white;
  font-weight: bold;
  font-size: 1rem;
  background: red;
  min-width: 23px;
  height: 23px;
  padding-left: 2.5px;
  padding-right: 1px;
  box-shadow: 0 1px 0px 0.5px grey;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  margin-left: 31px;
  margin-top: -32px;
}
.guess_account{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup{
  margin-right: 10px;
  background: red;
  color: white;
  border-style: none;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 1px 2px grey;
  height: 25px;
  width: 5rem;
}
.login{
  border-style: none;
  box-shadow: 1px 2px grey;
  border-radius: 5px 5px 5px 5px;
  height: 25px;
  width: 5rem;
}
.change_profile_photo, .signup_form, .edit_milestone{
  display: none;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  width: 60%;
  height: 80%;
  background: white;
  z-index: 99;
  border-radius: 10px 10px 10px 10px;
}
.hidden_upload{
  display: none;
}
/* Sign up form */
.email_icon{
  position: absolute;
  width: 25px;
  height: 25px;
  margin-left: 10px;
  margin-top: -33px;
}
.verify_email{
  margin-left: 10%;
  border-radius: 20px 20px 20px 20px;
  padding-left: 30px;
  border-color: red;
  padding-right: 30px;
  background: red;
  color: white;
  cursor: pointer;
}
.rmit_email{
  background:white;
  border-radius: 20px 20px 20px 20px;
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25%;
}
.email_sent{
  display: none;
}
.heart_icon, .comment_icon, .share_icon{
  margin-bottom: 10px;
  margin-right: 30px;
  margin-left:10px;
  padding: 10px;
  width: 3rem;
  font-size: 3rem;
  text-align: center;
  transition: 0.3s ease all;
}

.bookmark_icon{
  padding-left:15px;
  padding-top: 5px;
  padding-right:15px;
  width: 3rem;
}
.post_action_button{
  display: flex;
  justify-content: center;
  padding: 5px;
  transition: 0.3s ease all;
}
.heart_icon:hover, .comment_icon:hover, .share_icon:hover, .bookmark_icon:hover, .post_action_button:hover{
  background: #F5F6F8;
  border-radius: 50%;

}
.see_more_left_side{
  width: 100%;
  background: #F5F6F8;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left:-20px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.see_more_left_side:hover{
  background: #FFCFCF;
}
.see_more_left_side>a{
  text-decoration:none;
  text-align: center;
  padding: 5px;
  width: 100%;
}
.photo_gallery{
  width: 30%;
  padding-right:0.9vw;
  padding-bottom: 15px;
  border-radius: 10px 10px 10px 10px;
}
.all_photo{
  margin-left: -2vw;
}
.reaction{
  width: 80%;
}
.login_form{
  margin-left: 30%;
  margin-right: 30%;
  display: flex;
  justify-content: center;
  display: none;
}
.login_input{
  padding: 1rem 0 0.5rem 0.5rem;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 15px 15px 15px 15px;
}

.placeholder {
  position: absolute;
  pointer-events: none;
  margin-top: -3.9rem;
  margin-left: 1rem;
  color: grey;
  transition: 0.2s ease all;
}
.login_input:focus{
  border: 3px solid red;
  box-shadow: 1px 1px #FF7276;
}
.login_input:focus+.placeholder{
  margin-top: -4.5rem;
  margin-left: 0.6rem;
  font-size: 0.7rem;
  color: red;
}

.post_action_div{
  position: absolute;
  width: 300px;
  height: auto;
  background: white;
  margin-top:40px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 20px #ccc;
  display: none;
}
.post_action_button{
  cursor: pointer;
}
.post_action_icon_wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}
.post_action_div>div{
  border-radius: 10px 10px 10px 10px;
}
.post_action_div>div:hover{
  cursor: pointer;
  background: red;
  color: white;
}
